@import '../../scss/fontFamilies', '../../scss/colors', '../../scss/mixins';

.itemDetailContainer{
    @include marPad(0%, 1%);
    @include colAndBGCol(map-get($mainCol, mBlue), map-get($mainCol, primary));
    align-items: center;
    .error{
        width:90%;
        align-items: center;
        .mainTitle{
            box-shadow: 0px 0px 10px 5px map-get($mainCol, mPurple);
        }
        p{
            @include fonts($secondaryFont, 125%, 700);
        }
    }
}
