@import '../../scss/mixins', '../../scss/colors';

nav{
    @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($darkMainCol, darkerPrimary));
    justify-content: space-around;
    align-items: center;
    font-size: 50%;

    .logo{
        @include sizes(30px, 30px);
        border-radius: 50px 50px 50px 50px;
    }

    .menu{
        @include marPad(0,0);
        width: 70%;
        justify-content: space-evenly;
        list-style: none;
        
        .categoryLink{
            text-decoration: none;
            color: inherit;
        }
    }
    
}

@media screen and (min-width: 768px) {
    nav{
        font-size: 100%;

        .logo{
            @include sizes(140px, 140px);
        }

        .menu{
            width: 50%;
        }
    }
}