@import '../../../scss/fontFamilies', '../../../scss/colors', '../../../scss/mixins';

.itemCountContainer{
    align-items: center;
    width: 80%;
}

.itemCount{
    align-items: center;
    @include sizes(50%, 70%);
    justify-content: space-between;
    @include fonts($primaryFont, 100%, 700);
    border-radius: 45px 75px 45px 75px;
    color: map-get($lightMainCol, lighterBlue);
    background-image: linear-gradient(90deg, map-get($darkMainCol, darkerRed), map-get($mainCol, primary), map-get($mainCol, primary), map-get($darkMainCol, darkerGreen));
    p{
        font-size: 120%;
        margin: 0%;
        font-family: $secondaryFont;
    }
}

.btnAdd{
    @include marPad(0, 2%);
}
