@import 'mixins', 'fontFamilies', 'colors';

body{
    background-color: map-get($mainCol, primary);
}

img{
    transition: all .4s;
    &:hover{
        transform: scale(1.05,1.05);
    }
}

.flexible--row{
    display: flex;
    flex-direction: row;
}

.flexible--rowWrap{
    display: flex;
    flex-flow: row wrap;
}

.flexible--rowReverse{
    display: flex;
    flex-direction: row-reverse;
}

.flexible--column{
    display: flex;
    flex-direction: column;
}

.flexible--columnReverse{
    display: flex;
    flex-direction: column-reverse;
}

.flexible--columnWrap{
    display: flex;
    flex-flow: column wrap;
}

.button{
    cursor: pointer;
    @include fonts($primaryFont, 100%, 700);
    border-radius: 5px 25px 5px 25px;
    text-decoration: none;
    width: fit-content;
    border: 0;
    @include marPad(1%, 1%);
    transition: all .1s;
    &:hover{
        transform: scale(1.1, 1.1);
    }
}

.button--red{
    @extend.button;
    @include colAndBGCol(map-get($mainCol, mRed), map-get($darkMainCol, darkerPrimary));
    &:hover{
        @include colAndBGCol(map-get($mainCol, primary), white);
        box-shadow: 0px 0px 10px 5px map-get($mainCol, mRed);
    }
}

.button--green{
    @extend.button;
    @include colAndBGCol(map-get($mainCol, mGreen), map-get($darkMainCol, darkerPrimary));
    &:hover{
        @include colAndBGCol(map-get($mainCol, primary), white);
        box-shadow: 0px 0px 10px 5px map-get($mainCol, mGreen);
    }
}

.button--blue{
    @extend.button;
    @include colAndBGCol(map-get($mainCol, mBlue), map-get($darkMainCol, darkerPrimary));
    &:hover{
        @include colAndBGCol(map-get($mainCol, primary), white);
        box-shadow: 0px 0px 10px 5px map-get($mainCol, mBlue);
    }
}

.button--purple{
    @extend.button;
    @include colAndBGCol(map-get($mainCol, mPurple), map-get($darkMainCol, darkerPrimary));
    &:hover{
        @include colAndBGCol(map-get($mainCol, primary), white);
        box-shadow: 0px 0px 10px 5px map-get($mainCol, mPurple);
    }
}

.button2{
    @extend.button;
    border-radius: 75px 75px 75px 75px;
    transition: all .2s;
}

.button2--red{
    @extend.button2;
    @include colAndBGCol(map-get($lightMainCol, lighterRed), map-get($darkMainCol, darkerRed));
    &:hover{
        @include colAndBGCol(map-get($darkMainCol, darkerRed), map-get($darkMainCol, darkerPrimary));
    }
}

.button2--green{
    @extend.button2;
    @include colAndBGCol(map-get($lightMainCol, lighterGreen), map-get($darkMainCol, darkerGreen));
    &:hover{
        @include colAndBGCol(map-get($darkMainCol,darkerGreen), map-get($darkMainCol, darkerPrimary));
    }
}

.button2--blue{
    @extend.button2;
    @include colAndBGCol(map-get($lightMainCol, lighterBlue), map-get($darkMainCol, darkerBlue));
    &:hover{
        @include colAndBGCol(map-get($darkMainCol, darkerBlue), map-get($darkMainCol, darkerPrimary));
    }
}

.button2--purple{
    @extend.button2;
    @include colAndBGCol(map-get($lightMainCol, lighterPurple), map-get($darkMainCol, darkerPurple));
    &:hover{
        @include colAndBGCol(map-get($darkMainCol, darkerPurple), map-get($darkMainCol, darkerPrimary));
    }
}

.buttonTransp--red{
    @extend.button2--red;
    @include marPad(0, 5%);
    border: 0px;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba($color: #000000, $alpha: 0);
}

.buttonTransp--green{
    @extend.button2--green;
    @include marPad(0, 5%);
    border: 0px;
    border-radius: 0px 0px 0px 0px;
    background-color: rgba($color: #000000, $alpha: 0);
}

.mainTitle{
    @include marPad(1%,1%);
    border-radius: 75px 75px 75px 75px;
    width: 90%;
    @include colAndBGCol(map-get($darkMainCol, darkerPrimary), white);
    box-shadow: 0px 0px 10px 5px map-get($mainCol, mBlue);
    color: map-get($darkMainCol, darkerPrimary);
    text-align: center;
    animation: lightUp 2s;
    z-index: 1;

}

@keyframes lightUp {
    0%{
        color: white;
        width: 20%;
    }
}